{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tommymovies/style.css' %}" />

<head>
	<ul class ="navheader">
	  <li class="navbar"><a class="active" href="{% url 'tommymovies:history' %}">Home</a></li>
	  <li class="navbar"><a href="{% url 'tommymovies:movie_history_table' %}">Movie History</a></li>
	  <li class="navbar"><a href="{% url 'tommymovies:to_watch_table' %}">To Watch</a></li>
	</ul>
</head>

<form action="{% url 'tommymovies:categorize_submit' %}" method="post">
{%csrf_token %}
	<div class="fieldWrapper">
	<table>
		<tr>
			<th>Movie</th>
			<th> <input type="text" name="name"></th>
		</tr>
		<tr>
			{{ form }}
		</tr>
	</table>
	
	<input type="submit" style="float: right;" value="Add Category"/> 
	<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	</div>
</form>
